<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    
    <ui:composition template="/layout.xhtml">
        <ui:define name="content">
            <h:form>
	            <p:outputLabel value="JournalDev - JSF2/Primefaces Tutorial"></p:outputLabel>
	            <p:dataTable value="#{viewEmployeesManagedBean.employees}" var="employee">
	                <p:column>
	                    <f:facet name="header">
	                        <h:outputText value="Employee ID"></h:outputText>
	                    </f:facet>
	                    <h:outputText value="#{employee.id}"></h:outputText>
	                </p:column>
	                <p:column>
	                    <f:facet name="header">
	                        <h:outputText value="Employee Name"></h:outputText>
	                    </f:facet>
	                    <h:outputText value="#{employee.name}"></h:outputText>
	                </p:column>
	                <p:column>
	                    <p:commandButton value="delete" actionListener="#{viewEmployeesManagedBean.delete}" >
	                       <f:attribute name="selected" value="#{employee}" />
	                    </p:commandButton>
	                </p:column>
	                <p:column>
	                    <p:commandButton value="next" action="/protected/next.xhtml">
	                       <f:setPropertyActionListener value="#{employee.name}" target="#{viewEmployeesManagedBean1.name}" />
	                   </p:commandButton>
	                </p:column>
	            </p:dataTable>
	        </h:form>
        </ui:define>
    </ui:composition>
</html>