@CHARSET "ISO-8859-1";
#bottom {
	position:fixed;
	margin-top:20px;
	margin-left: 0px;
	padding:5px;
	bottom:0px;
	width:100%;
	z-index:100;
	color: #ffffff;
	font-size:10px;
	background-color: rgba(7, 120, 211, 0.9);
}