/*
* Venture LAYOUT & THEME
* Supported Browsers > Google Chrome 3+ , Mozilla Firefox 3+ , Safari 3+ , Opera 3+ , Yandex Browser , Inernet Explorer 9+
* Copyright 2016 - PrimeFaces Theme Market - PrimeTek */
/* FONT-FACE*/
@font-face {
  font-family: 'enriquetabold';
  src: url("#{resource['venture/css:fonts/enriqueta-bold-webfont.eot']}");
  src:url("#{resource['venture/css:fonts/enriqueta-bold-webfont.eot']}&#iefix") format('embedded-opentype'),
  url("#{resource['venture/css:fonts/enriqueta-bold-webfont.woff2']}") format('woff2'),
  url("#{resource['venture/css:fonts/enriqueta-bold-webfont.woff']}") format('woff'),
  url("#{resource['venture/css:fonts/enriqueta-bold-webfont.ttf']}") format('truetype'),
  url("#{resource['venture/css:fonts/enriqueta-bold-webfont.svg']}&#enriquetabold") format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'enriquetaregular';
  src: url("#{resource['venture/css:fonts/enriqueta-regular-webfont.eot']}");
  src:url("#{resource['venture/css:fonts/enriqueta-regular-webfont.eot']}&#iefix") format('embedded-opentype'),
  url("#{resource['venture/css:fonts/enriqueta-regular-webfont.woff2']}") format('woff2'),
  url("#{resource['venture/css:fonts/enriqueta-regular-webfont.woff']}") format('woff'),
  url("#{resource['venture/css:fonts/enriqueta-regular-webfont.ttf']}") format('truetype'),
  url("#{resource['venture/css:fonts/enriqueta-regular-webfont.svg']}&#enriquetaregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinsbold';
  src: url("#{resource['venture/css:fonts/poppins-bold-webfont.eot']}");
  src:url("#{resource['venture/css:fonts/poppins-bold-webfont.eot']}&#iefix") format('embedded-opentype'),
  url("#{resource['venture/css:fonts/poppins-bold-webfont.woff2']}") format('woff2'),
  url("#{resource['venture/css:fonts/poppins-bold-webfont.woff']}") format('woff'),
  url("#{resource['venture/css:fonts/poppins-bold-webfont.ttf']}") format('truetype'),
  url("#{resource['venture/css:fonts/poppins-bold-webfont.svg']}&#poppinsbold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinssemibold';
  src: url("#{resource['venture/css:fonts/poppins-semibold-webfont.eot']}");
  src:url("#{resource['venture/css:fonts/poppins-semibold-webfont.eot']}&#iefix") format('embedded-opentype'),
  url("#{resource['venture/css:fonts/poppins-semibold-webfont.woff2']}") format('woff2'),
  url("#{resource['venture/css:fonts/poppins-semibold-webfont.woff']}") format('woff'),
  url("#{resource['venture/css:fonts/poppins-semibold-webfont.ttf']}") format('truetype'),
  url("#{resource['venture/css:fonts/poppins-semibold-webfont.svg']}&#poppinssemibold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinsmedium';
  src: url("#{resource['venture/css:fonts/poppins-medium-webfont.eot']}");
  src:url("#{resource['venture/css:fonts/poppins-medium-webfont.eot']}&#iefix") format('embedded-opentype'),
  url("#{resource['venture/css:fonts/poppins-medium-webfont.woff2']}") format('woff2'),
  url("#{resource['venture/css:fonts/poppins-medium-webfont.woff']}") format('woff'),
  url("#{resource['venture/css:fonts/poppins-medium-webfont.ttf']}") format('truetype'),
  url("#{resource['venture/css:fonts/poppins-medium-webfont.svg']}&#poppinsmedium") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinsregular';
  src: url("#{resource['venture/css:fonts/poppins-regular-webfont.eot']}");
  src:url("#{resource['venture/css:fonts/poppins-regular-webfont.eot']}&#iefix") format('embedded-opentype'),
  url("#{resource['venture/css:fonts/poppins-regular-webfont.woff2']}") format('woff2'),
  url("#{resource['venture/css:fonts/poppins-regular-webfont.woff']}") format('woff'),
  url("#{resource['venture/css:fonts/poppins-regular-webfont.ttf']}") format('truetype'),
  url("#{resource['venture/css:fonts/poppins-regular-webfont.svg']}&#poppinsregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'poppinslight';
  src: url("#{resource['venture/css:fonts/poppins-light-webfont.eot']}");
  src:url("#{resource['venture/css:fonts/poppins-light-webfont.eot']}&#iefix") format('embedded-opentype'),
  url("#{resource['venture/css:fonts/poppins-light-webfont.woff2']}") format('woff2'),
  url("#{resource['venture/css:fonts/poppins-light-webfont.woff']}") format('woff'),
  url("#{resource['venture/css:fonts/poppins-light-webfont.ttf']}") format('truetype'),
  url("#{resource['venture/css:fonts/poppins-light-webfont.svg']}&#poppinslight") format('svg');
  font-weight: normal;
  font-style: normal;
}
.FontEnriquetaBold {
  font-family: 'enriquetabold';
}
.FontEnriquetaRegular {
  font-family: 'enriquetaregular';
}
.FontPoppinsLight {
  font-family: 'poppinslight';
}
.FontPoppinsRegular {
  font-family: 'poppinsregular';
}
.FontPoppinsMedium {
  font-family: 'poppinsmedium';
}
.FontPoppinsSemiBold {
  font-family: 'poppinssemibold';
}
.FontPoppinsBold {
  font-family: 'poppinsbold';
}
/*BODY*/
html {
  height: 100%;
  font-size: 10px;
}
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: 'poppinsregular';
  background-color: #414c47;
}
/* Coloring Topbar */
.WhiteTopbar #layout-topbar-cover {
  background-color: #ffffff !important;
}

.RedTopbar #layout-topbar-cover {
  background-color: #e0245e !important;
}
.GreenTopbar #layout-topbar-cover {
  background-color: #5fb95e !important;
}
.YellowTopbar #layout-topbar-cover {
  background-color: #fed857 !important;
}
.OrangeTopbar #layout-topbar-cover {
  background-color: #f15f5f !important;
}
.PurpleTopbar #layout-topbar-cover {
  background-color: #8766c3 !important;
}
.BlueTopbar #layout-topbar-cover {
  background-color: #4d8cc0 !important;
}
.AquaTopbar #layout-topbar-cover {
  background-color: #43bcf2 !important;
}
.PinkTopbar #layout-topbar-cover {
  background-color: #ea5285 !important;
}
/* Coloring Background */
.JamkridaBG {
  background-color: #E6E6E6 !important;
}
.PaleGreenBG {
  background-color: #414c47 !important;
}
.PaleBlueBG {
  background-color: #386584 !important;
}
.LeadenBG {
  background-color: #3d474d !important;
}
.DarkBG {
  background-color: #313131 !important;
}
.DarkPurpleBG {
  background-color: #313541 !important;
}
/* TOPBAR --------------------------------------------------------------------------------*/
/* Layout Topbar Cover*/
#layout-topbar-cover {
  width: 100%;
  display: table;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: fixed;
  table-layout: fixed;
  top: 0px;
  z-index: 999;
  height: 6.7rem;
  background-color: #fed857;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.4);
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}
#layout-topbar-row {
  display: table-row;
}
#layout-topbar-left {
  height: 6.7rem;
  display: table-cell;
  width: 28rem;
  vertical-align: top;
}
.PopupMenu #layout-topbar-left {
  width: 27.3rem;
}
#logo {
  height: 6.7rem;
  overflow: hidden;
  float: left;
}
#logo img {
  height: 4.1rem;
  margin: 1.3rem 0px 0px 1.5rem;
}
#layout-topbar-right {
  height: 4.7rem;
  display: table-cell;
  vertical-align: top;
}
.topbar-link {
  width: 6rem;
  height: 4.7rem;
  display: inline-block;
  text-align: center;
  border-left: solid 1px rgba(52, 61, 66, 0.2);
}
.topbar-link:hover,
.topbar-link:focus,
.topbar-link.active {
  background-color: rgba(40, 40, 40, 0.1);
  cursor: pointer;
}
.topbar-link img {
  width: 1.6rem;
  height: 1.5rem;
  margin: 1.6rem 0px 0px 0px;
}
.topbar-link i {
  font-size: 2rem;
  margin: 1.3rem 0px 0px 0px;
  display: inline-block;
  color: rgba(52, 61, 66, 0.9);
}
#menu-resize-btn.active img {
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
.PopupMenu #menu-resize-btn {
  display: none;
}
#mobile-menu-btn {
  width: 7rem;
  float: left;
  background-color: rgba(42, 50, 56, 0.9);
  display: none;
}
#mobile-menu-btn i {
  color: #fff;
}
.PopupMenu #mobile-menu-btn.active {
  background-color: #282828;
}
.PopupMenu #mobile-menu-btn {
  display: inline-block;
}
#search-bar {
  display: inline-block;
  float: right;
  height: 4.7rem;
  padding: 0px 1.5rem;
  margin-top:20px;
}
#search-bar input[type="text"] {
  height: 2.8rem;
  width: 300px;
  border: 1px none;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
  padding: 0px 3.9rem 0px 1.5rem;
  margin: 0.9rem 0px 0px 0px;
  font-size: 1.4rem;
  color: rgba(52, 61, 66, 0.9);
  font-family: 'poppinsregular';
  float: left;
  border-style: ridge;
}
/* placeholder styling */
#search-bar input[type="text"]::-webkit-input-placeholder {
  color: rgba(52, 61, 66, 0.8);
}
#search-bar input[type="text"]::-moz-placeholder {
  color: rgba(52, 61, 66, 0.8);
}
#search-bar input[type="text"]:-ms-input-placeholder {
  color: rgba(52, 61, 66, 0.8);
}
#search-bar input[type="text"]:-moz-placeholder {
  color: rgba(52, 61, 66, 0.8);
}
#search-bar #search-btn {
  width: 3.8rem;
  height: 2.8rem;
  float: left;
  border-radius: 0.5rem;
  display: inline-block;
  text-align: center;
  margin: 0.9rem 0px 0px -3.8rem;
}
#search-bar #search-btn:hover,
#search-bar #search-btn:focus {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
#search-bar #search-btn i {
  font-size: 1.6rem;
  margin: 0.5rem 0px 0px 0px;
  display: inline-block;
  color: rgba(52, 61, 66, 0.9);
}
/* TOPBAR MENU COVER */
#layout-topbar-menu-cover {
  padding: 0px;
  margin: 0px;
  float: right;
  display: inline;
  margin-top:20px;
}
#layout-topbar-menu-cover > li {
  display: inline-block;
  float: right;
  position: relative;
}
#layout-topbar-menu-cover > li > a span {
  display: none;
}
#layout-topbar-menu-cover > li > ul {
  position: absolute;
  padding: 0px;
  margin: 0px;
  background-color: #f7f7f5;
  width: 240px;
  right: 0;
  margin-top: 5rem;
  height: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  display: none;
}
#layout-topbar-menu-cover > li > ul.active {
  display: block;
}
#layout-topbar-menu-cover > li > ul li a {
  padding: 15px;
  display: block;
  color: rgba(52, 61, 66, 0.9);
  font-size: 12px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.05);
}
#layout-topbar-menu-cover > li > ul li a:hover,
#layout-topbar-menu-cover > li > ul li a.active {
  background-color: rgba(0, 0, 0, 0.05);
}
#topbar-menu-btn {
  display: none;
}
#topbar-menu-btn:hover,
#topbar-menu-btn.active {
  background-color: rgba(40, 40, 40, 0.5);
}
/* LAYOUT COVER --------------------------------------------------------------------------------*/
#layout-container {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 4.7rem;
  
}
#layout-container-row {
  display: table-row;
}
/* MENU --------------------------------------------------------------------------------*/
/* Layout Menu Cover */
#layout-menu-cover {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
  margin-top:20px;
  z-index: 997;
  background-color: rgba(7, 120, 211, 0.35);
  vertical-align: top;
}
#layout-menu-cover-scroll-content {
  display: block;
  height: auto;
  position: static;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.PopupMenu #layout-menu-cover-scroll-content,
.FixedMenu #layout-menu-cover-scroll-content {
  width: auto;
  box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
}
/* Fixed Default Menu */
.FixedMenu #layout-menu-cover {
  position: fixed;
  background-color: rgba(7, 120, 211, 0.9);
}
/* Tab Menu */
#layout-tab-menu {
  width: 58px;
  height: auto;
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: rgba(35, 31, 32, 0.9);
  position: absolute;
  left: 0px;
  top: 0px;
  padding-bottom: 100px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#layout-tab-menu > li {
  width: 58px;
  height: 50px;
}
#layout-tab-menu > li:first-child {
  padding: 1.5rem 0px 0px 0px;
}
#layout-tab-menu > li > a {
  display: block;
  width: 58px;
  height: 50px;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#layout-tab-menu > li > a:hover,
#layout-tab-menu > li > a:focus,
#layout-tab-menu > li > a.active {
  background-color: #282828;
  color: #ffffff;
  -webkit-box-shadow: inset 1px 0 0 0 #3d474d;
  box-shadow: inset 1px 0 0 0 #3d474d;
}
#layout-tab-menu > li > a i {
  display: inline-block;
  font-size: 27px;
  margin-top: 12px;
}
#layout-tab-menu > li > a .layout-tab-menu-link-text {
  position: relative;
  background-color: #5a5a5a;
  padding: 10px 15px;
  border-radius: 3px;
  font-family: 'poppinsregular';
  font-size: 12px;
  max-width: 150px;
  display: none;
  margin: -32px 0px 0px 57px;
  float: left;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.7);
  text-align: left;
  min-width: 120px;
}
#layout-tab-menu > li > a:hover .layout-tab-menu-link-text,
#layout-tab-menu > li > a:focus .layout-tab-menu-link-text {
  display: inline-block;
}
#layout-tab-menu > li > a.active .layout-tab-menu-link-text {
  display: none;
}
#layout-tab-menu > li > a .layout-tab-menu-link-text span {
  position: absolute;
  background-color: #5A5A5A;
  width: 13px;
  height: 13px;
  border-radius: 3px;
  margin-left: -20px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* first level */
.layout-tab-submenu {
  padding: 3px 10px 0px;
  margin: 0px;
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  /*background-color:@layout-tabsubmenu-bg-color;*/
  display: none;
}
.layout-tab-submenu.active {
  display: table;
}
.layout-tab-submenu > li {
  display: block;
  margin: 0px;
  padding: 0px;
  float: left;
}
.layout-tab-submenu > li > a {
  display: block;
  padding: 8px 20px;
  margin-right: 2px;
  font-family: 'poppinsregular';
  font-size: 12px;
  color: #ffffff;
  cursor: pointer;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.layout-tab-submenu > li > a:hover {
  background-color: #F7F7F5;
  color: #3D474D;
}
.layout-tab-submenu > li a.active-menu {
  background-color: #F7F7F5;
  color: #3D474D;
}
/* second level */
.layout-tab-submenu > li ul {
  margin: 0px;
  padding: 0px;
  display: none;
}
.layout-tab-submenu > li > ul {
  margin: 0px;
  padding: 0px;
  display: none;
  position: absolute;
  background-color: #3d474d;
}
.layout-tab-submenu > li > ul.active-menu {
  display: block;
  padding: 10px;
  background-color: #F7F7F5;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.layout-tab-submenu > li ul li {
  display: block;
  margin: 0px;
  padding: 0px;
}
.layout-tab-submenu > li ul li a {
  display: block;
  padding: 5px;
  font-size: 13px;
  color: #3D474D;
  font-family: 'poppinsregular';
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.layout-tab-submenu > li ul li a:hover,
.layout-tab-submenu > li ul li a:focus,
.layout-tab-submenu > li ul li a.active-menu {
  color: #26a9e1;
  font-family: 'poppinsregular';
}
.layout-tab-submenu > li ul li a i {
  display: inline-block;
  margin-right: 5px;
}
/* other levels */
.layout-tab-submenu > li ul li ul {
  overflow: hidden;
  height: 0px;
  display: none;
  padding-left: 10px;
}
.layout-tab-submenu > li ul li ul.active-menu {
  display: block;
  height: auto;
}
.layout-tab-submenu > li ul li ul li {
  border-left: dotted 1px #D4D4CA;
}
/* PopupMenu Menu Cover */
.PopupMenu #layout-menu-cover {
  width: 280px;
  left: -280px;
  height: 100%;
  background-color: #282828;
  display: table-cell;
  position: fixed;
  
}
.PopupMenu #layout-menu-cover.nano {
  overflow: hidden;
}
.PopupMenu #layout-menu-cover-scroll-content {
  display: block;
  height: 100%;
  position: relative;
  overflow: scroll;
  overflow-x: hidden;
}
.PopupMenu #layout-menu-cover.active {
  left: 0px;
}
.PopupMenu .layout-tab-submenu {
  width: 280px;
  padding-bottom: 100px;
  height: auto !important;
  min-height: 100%;
  background-color: #282828;
}
/* first level */
.PopupMenu .layout-tab-submenu > li {
  float: none;
  margin-bottom: 10px;
}
.PopupMenu .layout-tab-submenu > li a {
  padding: 5px;
  margin-right: 0px;
}
.PopupMenu .layout-tab-submenu > li > a:hover,
.PopupMenu .layout-tab-submenu > li > a:focus {
  background-color: transparent;
  color: #fff;
}
.PopupMenu .layout-tab-submenu > li a.active-menu {
  background-color: transparent;
  color: #fff;
}
/* second level */
.PopupMenu .layout-tab-submenu > li ul {
  margin: 0px;
  padding: 0px;
  display: block;
}
.PopupMenu .layout-tab-submenu > li > ul {
  background-color: transparent;
  position: relative;
  box-shadow: none;
}
.PopupMenu .layout-tab-submenu > li ul li a {
  color: rgba(255, 255, 255, 0.7);
}
.PopupMenu .layout-tab-submenu > li ul li a:hover,
.PopupMenu .layout-tab-submenu > li ul li a:focus,
.PopupMenu .layout-tab-submenu > li ul li a.active-menu {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.PopupMenu .layout-tab-submenu > li ul li ul {
  margin-left: 10px;
}
.PopupMenu .layout-tab-submenu > li ul li ul li {
  border-left: dotted 1px #4E4E4E;
}
.PopupMenu .layout-tab-submenu > li:first-child {
  margin-top: 0.5rem;
}
/* PORTLETS --------------------------------------------------------------------------------*/
/*Layout Portlets Cover*/
#layout-portlets-cover {
  display: block;
  height: 100%;
  font-size: 14px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: #282828;
  vertical-align: top;
  padding: 1rem;
  margin-top:-10px;
}
.FixedMenu #layout-portlets-cover {
  padding-top: 8rem;
  margin-top:-10px;
}
/* Cards */
.Card {
  width: 100%;
  display: block;
  padding: 1.5rem;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.CardBigTopic {
  display: block;
  font-family: 'poppinssemibold';
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 0px;
  color: #3d474d;
}
.CardSmallTopic {
  display: block;
  font-family: 'poppinsmedium';
  font-size: 1.4rem;
  line-height: 1.4rem;
  padding: 0px;
  color: rgba(40, 40, 40, 0.6);
}
/* FOOTER --------------------------------------------------------------------------------*/
/*Layout Footer*/
/* LAYOUT STANDART STYLES -----------------------------------------------------------------*/
a {
  text-decoration: none;
  outline: none;
}
img {
  outline: none;
}
li {
  list-style: none;
}
/* text colors */
.White {
  color: #ffffff !important;
}
.TransparentWhite {
  color: rgba(255, 255, 255, 0.7) !important;
}
.SoftGray {
  color: rgba(40, 40, 40, 0.6) !important;
}
.Black {
  color: #282828 !important;
}
.Blue {
  color: #4d8cc0 !important;
}
.Red {
  color: #e0245e !important;
}
.Green {
  color: #5fb95e !important;
}
.Orange {
  color: #f15f5f !important;
}
.Yellow {
  color: #fed857 !important;
}
.Leaden {
  color: #3d474d !important;
}
.Purple {
  color: #8766c3 !important;
}
.Aqua {
  color: #43bcf2 !important;
}
.Navy {
  color: #1f3b59 !important;
}
/* background colors */
.WhiteBack {
  background-color: #ffffff;
}
.SoftGrayBack {
  background-color: rgba(40, 40, 40, 0.6);
}
.BlackBack {
  background-color: #282828;
}
.BlueBack {
  background-color: #4d8cc0;
}
.RedBack {
  background-color: #e0245e;
}
.GreenBack {
  background-color: #5fb95e;
}
.OrangeBack {
  background-color: #f15f5f;
}
.YellowBack {
  background-color: #fed857;
}
.LeadenBack {
  background-color: #3d474d;
}
.PurpleBack {
  background-color: #8766c3;
}
.AquaBack {
  background-color: #43bcf2;
}
.NavyBack {
  background-color: #1f3b59;
}
/* Borders */
.BorderLeft {
  border-left: solid 1px #d1d1d1;
}
.BorderRight {
  border-right: solid 1px #d1d1d1;
}
.BorderTop {
  border-top: solid 1px #d1d1d1;
}
.BorderBottom {
  border-bottom: solid 1px #d1d1d1;
}
.BorderAll {
  border: solid 1px #d1d1d1;
}
/* seperator line */
.Separator {
  border-bottom: dashed 1px #d1d3d4;
  width: 100%;
  display: block;
  overflow: hidden;
  height: 0px;
  margin: 1.2rem 0px;
  clear: both;
}
.SeparatorFull {
  border-bottom: dashed 1px #d1d3d4;
  display: block;
  overflow: hidden;
  height: 0px;
  margin: 1.2rem -1.5rem;
  clear: both;
}
/* hover effect for boxlink and links */
.HoverEffect {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.HoverEffect:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* shadow */
.ShadowEffect {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 0\0) {
  /* IE 10+ specific styles go here */
  .ShadowEffect {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.05);
  }
}
/* headings */
.Heading1 {
  font-family: 'poppinsbold';
  font-size: 3.2rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading2 {
  font-family: 'poppinsbold';
  font-size: 2.8rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading3 {
  font-family: 'poppinsbold';
  font-size: 2.4rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading4 {
  font-family: 'poppinsbold';
  font-size: 2rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading5 {
  font-family: 'poppinssemibold';
  font-size: 1.6rem;
  padding: 10px 0px;
  margin: 0px;
}
.Heading6 {
  font-family: 'poppinssemibold';
  font-size: 14px;
  padding: 10px 0px;
  margin: 0px;
}
/* For Docs Pages Demo */
.changecolor:hover {
  background-color: #FBB040;
  padding-top: 30px;
  padding-bottom: 30px;
}
/* MEDIA QUERIES **************************************************************************************************************** */
/* Large desktop */
@media (min-width: 961px) and (max-width: 1200px) {
  html {
    font-size: 9px;
  }
  /* For Sizing With REM Unit */
  #layout-topbar-left {
    width: 31rem;
  }
  .PopupMenu #layout-topbar-left {
    width: 30.9rem;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 960px) and (max-width: 1220px) {
	/*min 640 */
 #layout-portlets-cover {
   margin-left: 0px;
   margin-top:100px;
 }
 .FixedMenu #layout-portlets-cover {
   padding-top: 1rem;
   margin-top:60px;
 }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 640px) and (max-width: 960px) {
  html {
    font-size: 9px;
  }
  /* For Sizing With REM Unit */
  #layout-topbar-left {
    width: 100%;
    display: block;
  }
  #logo img {
    margin: 1.3rem 0px 0px 1.2rem;
  }
  #layout-topbar-right {
    width: 100%;
    display: block;
    background-color: #42484C;
    background-color: rgba(7, 120, 211, 0.9);
  }
  #menu-resize-btn {
    display: none;
  }
  #mobile-menu-btn {
    display: inline-block;
    background-color: transparent;
    width: 4.7rem;
  }
  #mobile-menu-btn:hover {
    background-color: rgba(40, 40, 40, 0.1);
  }
  .PopupMenu #mobile-menu-btn.active,
  #mobile-menu-btn.active {
    background-color: rgba(42, 50, 56, 0.6);
  }
  #mobile-menu-btn i {
    color: rgba(42, 50, 56, 0.9);
  }
  .PopupMenu #mobile-menu-btn.active i,
  #mobile-menu-btn.active i {
    color: #fff;
  }
  #search-bar {
    float: left;
    margin-top:0px;
  }
  #search-bar input[type="text"] {
    width: 370px;
    background-color: #fff;
  }
  .topbar-link {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
  .topbar-link i {
    color: #fff;
  }
  #layout-container {
    padding-top: 9.4rem;
  }
  #layout-menu-cover {
    width: 280px;
    left: -280px;
    height: 100%;
    background-color: #282828;
    display: table-cell;
    position: fixed;
    margin-top:10px;
    
  }
  #layout-menu-cover {
    overflow: hidden;
  }
  #layout-menu-cover-scroll-content {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
  }
  #layout-menu-cover.active {
    left: 0px;
  }
  .layout-tab-submenu {
    width: 280px;
    padding-bottom: 100px;
    height: auto !important;
    min-height: 100%;
    background-color: #282828;
  }
  /* first level */
  .layout-tab-submenu > li {
    float: none;
    margin-bottom: 10px;
  }
  .layout-tab-submenu > li a {
    padding: 5px;
    margin-right: 0px;
  }
  .layout-tab-submenu > li > a:hover,
  .layout-tab-submenu > li > a:focus {
    background-color: transparent;
    color: #fff;
  }
  .layout-tab-submenu > li a.active-menu {
    background-color: transparent;
    color: #fff;
  }
  /* second level */
  .layout-tab-submenu > li ul {
    margin: 0px;
    padding: 0px;
    display: block;
  }
  .layout-tab-submenu > li > ul {
    background-color: transparent;
    position: relative;
  }
  .layout-tab-submenu > li > ul.active-menu {
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
  }
  .layout-tab-submenu > li ul li a {
    color: rgba(255, 255, 255, 0.7);
  }
  .layout-tab-submenu > li ul li a:hover,
  .layout-tab-submenu > li ul li a:focus,
  .layout-tab-submenu > li ul li a.active-menu {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  .layout-tab-submenu > li ul li ul {
    margin-left: 10px;
  }
  .layout-tab-submenu > li ul li ul li {
    border-left: dotted 1px #4E4E4E;
  }
  .layout-tab-submenu > li:first-child {
    margin-top: 0.5rem;
  }
  /* TOPBAR MENU COVER */
  #layout-topbar-menu-cover {
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-color: #f7f7f5;
    width: 240px;
    right: 0;
    margin-top: 5.3rem;
    margin-right: 3px;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    display: none;
  }
  #layout-topbar-menu-cover.active {
    display: block;
  }
  #layout-topbar-menu-cover > li {
    display: block;
    float: none;
    position: static;
  }
  #layout-topbar-menu-cover > li > a {
    padding: 15px;
    display: block;
    float: none;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: rgba(52, 61, 66, 0.9);
    font-size: 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    text-align: left;
  }
  #layout-topbar-menu-cover > li > a:hover,
  #layout-topbar-menu-cover > li > a.active {
    background-color: #ffffff;
  }
  #layout-topbar-menu-cover > li > a i {
    font-size: 14px;
    color: rgba(52, 61, 66, 0.9);
    margin-top: 0px;
  }
  #layout-topbar-menu-cover > li > a span {
    font-size: 14px;
    display: inline;
  }
  #layout-topbar-menu-cover > li > ul {
    position: static;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    width: auto;
    right: 0;
    margin-top: 0px;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
  }
  #layout-topbar-menu-cover > li > ul.active {
    display: block;
    background-color: #ffffff;
  }
  #layout-topbar-menu-cover > li > ul li a {
    padding: 15px;
    display: block;
    color: rgba(52, 61, 66, 0.9);
    font-size: 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  }
  #layout-topbar-menu-cover > li > ul li a:hover,
  #layout-topbar-menu-cover > li > ul li a.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  #topbar-menu-btn {
    display: block;
  }
  /*min 640 */
  #layout-portlets-cover {
    margin-left: 0px;
    margin-top:20px;
  }
  .FixedMenu #layout-portlets-cover {
    padding-top: 1rem;
    margin-top:20px;
  }
}
/* Landscape phone to portrait tablet */
@media (min-width: 480px) and (max-width: 640px) {
  html {
    font-size: 8px;
  }
  /* For Sizing With REM Unit */
  #layout-topbar-left {
    width: 100%;
    display: block;
  }
  #logo img {
    margin: 1.3rem 0px 0px 1.2rem;
  }
  #layout-topbar-right {
    width: 100%;
    display: block;
    background-color: #42484C;
    background-color: rgba(7, 120, 211, 0.9);
  }
  #menu-resize-btn {
    display: none;
  }
  #mobile-menu-btn {
    display: inline-block;
    background-color: transparent;
    width: 4.7rem;
  }
  #mobile-menu-btn:hover {
    background-color: rgba(40, 40, 40, 0.1);
  }
  .PopupMenu #mobile-menu-btn.active,
  #mobile-menu-btn.active {
    background-color: rgba(42, 50, 56, 0.6);
  }
  #mobile-menu-btn i {
    color: rgba(42, 50, 56, 0.9);
  }
  .PopupMenu #mobile-menu-btn.active i,
  #mobile-menu-btn.active i {
    color: #fff;
  }
  #search-bar {
    float: left;margin-top:0px;
  }
  #search-bar input[type="text"] {
    width: 250px;
    background-color: #fff;
  }
  .topbar-link {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
  .topbar-link i {
    color: #fff;
  }
  #layout-container {
    padding-top: 9.4rem;
  }
  #layout-menu-cover {
    width: 280px;
    left: -280px;
    height: 100%;
    background-color: #282828;
    display: table-cell;
    position: fixed;
    margin-top:10px;
  }
  #layout-menu-cover {
    overflow: hidden;
  }
  #layout-menu-cover-scroll-content {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
  }
  #layout-menu-cover.active {
    left: 0px;
  }
  .layout-tab-submenu {
    width: 280px;
    padding-bottom: 100px;
    height: auto !important;
    min-height: 100%;
    background-color: #282828;
  }
  /* first level */
  .layout-tab-submenu > li {
    float: none;
    margin-bottom: 10px;
  }
  .layout-tab-submenu > li a {
    padding: 5px;
    margin-right: 0px;
  }
  .layout-tab-submenu > li > a:hover,
  .layout-tab-submenu > li > a:focus {
    background-color: transparent;
    color: #fff;
  }
  .layout-tab-submenu > li a.active-menu {
    background-color: transparent;
    color: #fff;
  }
  /* second level */
  .layout-tab-submenu > li ul {
    margin: 0px;
    padding: 0px;
    display: block;
  }
  .layout-tab-submenu > li > ul {
    background-color: transparent;
    position: relative;
  }
  .layout-tab-submenu > li > ul.active-menu {
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
  }
  .layout-tab-submenu > li ul li a {
    color: rgba(255, 255, 255, 0.7);
  }
  .layout-tab-submenu > li ul li a:hover,
  .layout-tab-submenu > li ul li a:focus,
  .layout-tab-submenu > li ul li a.active-menu {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  .layout-tab-submenu > li ul li ul {
    margin-left: 10px;
  }
  .layout-tab-submenu > li ul li ul li {
    border-left: dotted 1px #4E4E4E;
  }
  .layout-tab-submenu > li:first-child {
    margin-top: 0.5rem;
  }
  /* TOPBAR MENU COVER */
  #layout-topbar-menu-cover {
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-color: #f7f7f5;
    width: 240px;
    right: 0;
    margin-top: 5.3rem;
    margin-right: 3px;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    display: none;
  }
  #layout-topbar-menu-cover.active {
    display: block;
  }
  #layout-topbar-menu-cover > li {
    display: block;
    float: none;
    position: static;
  }
  #layout-topbar-menu-cover > li > a {
    padding: 15px;
    display: block;
    float: none;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: rgba(52, 61, 66, 0.9);
    font-size: 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    text-align: left;
  }
  #layout-topbar-menu-cover > li > a:hover,
  #layout-topbar-menu-cover > li > a.active {
    background-color: #ffffff;
  }
  #layout-topbar-menu-cover > li > a i {
    font-size: 14px;
    color: rgba(52, 61, 66, 0.9);
    margin-top: 0px;
  }
  #layout-topbar-menu-cover > li > a span {
    font-size: 14px;
    display: inline;
  }
  #layout-topbar-menu-cover > li > ul {
    position: static;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    width: auto;
    right: 0;
    margin-top: 0px;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
  }
  #layout-topbar-menu-cover > li > ul.active {
    display: block;
    background-color: #ffffff;
  }
  #layout-topbar-menu-cover > li > ul li a {
    padding: 15px;
    display: block;
    color: rgba(52, 61, 66, 0.9);
    font-size: 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  }
  #layout-topbar-menu-cover > li > ul li a:hover,
  #layout-topbar-menu-cover > li > ul li a.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  #topbar-menu-btn {
    display: block;
  }
  #layout-portlets-cover {
    margin-left: 0px;
    margin-top:20px;
  }
  .FixedMenu #layout-portlets-cover {
    padding-top: 1rem;
    margin-top:20px;
  }
}
/* Portrait phones and down */
@media (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 8px;
  }
  /* For Sizing With REM Unit */
  #layout-topbar-left {
    width: 100%;
    display: block;
  }
  #logo img {
    margin: 1.3rem 0px 0px 1.2rem;
  }
  #layout-topbar-right {
    width: 100%;
    display: block;
    background-color: #42484C;
    background-color: rgba(7, 120, 211, 0.9);
  }
  #menu-resize-btn {
    display: none;
  }
  #mobile-menu-btn {
    display: inline-block;
    background-color: transparent;
    width: 4.7rem;
  }
  #mobile-menu-btn:hover {
    background-color: rgba(40, 40, 40, 0.1);
  }
  .PopupMenu #mobile-menu-btn.active,
  #mobile-menu-btn.active {
    background-color: rgba(42, 50, 56, 0.6);
  }
  #mobile-menu-btn i {
    color: rgba(42, 50, 56, 0.9);
  }
  .PopupMenu #mobile-menu-btn.active i,
  #mobile-menu-btn.active i {
    color: #fff;
  }
  #search-bar {
    float: left;margin-top:0px;
  }
  #search-bar input[type="text"] {
    width: 100px;
    background-color: #fff;
  }
  .topbar-link {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
  .topbar-link i {
    color: #fff;
  }
  #layout-container {
    padding-top: 9.4rem;
  }
  #layout-menu-cover {
    width: 280px;
    left: -280px;
    height: 100%;
    background-color: #282828;
    display: table-cell;
    position: fixed;
    margin-top:10px;
  }
  #layout-menu-cover {
    overflow: hidden;
  }
  #layout-menu-cover-scroll-content {
    display: block;
    height: 100%;
    width: auto;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
  }
  #layout-menu-cover.active {
    left: 0px;
  }
  .layout-tab-submenu {
    width: 280px;
    padding-bottom: 100px;
    height: auto !important;
    min-height: 100%;
    background-color: #282828;
  }
  /* first level */
  .layout-tab-submenu > li {
    float: none;
    margin-bottom: 10px;
  }
  .layout-tab-submenu > li a {
    padding: 5px;
    margin-right: 0px;
  }
  .layout-tab-submenu > li > a:hover,
  .layout-tab-submenu > li > a:focus {
    background-color: transparent;
    color: #fff;
  }
  .layout-tab-submenu > li a.active-menu {
    background-color: transparent;
    color: #fff;
  }
  /* second level */
  .layout-tab-submenu > li ul {
    margin: 0px;
    padding: 0px;
    display: block;
  }
  .layout-tab-submenu > li > ul {
    background-color: transparent;
    position: relative;
  }
  .layout-tab-submenu > li > ul.active-menu {
    background-color: transparent;
    box-shadow: none;
    padding: 0px;
  }
  .layout-tab-submenu > li ul li a {
    color: rgba(255, 255, 255, 0.7);
  }
  .layout-tab-submenu > li ul li a:hover,
  .layout-tab-submenu > li ul li a:focus,
  .layout-tab-submenu > li ul li a.active-menu {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
  }
  .layout-tab-submenu > li ul li ul {
    margin-left: 10px;
  }
  .layout-tab-submenu > li ul li ul li {
    border-left: dotted 1px #4E4E4E;
  }
  .layout-tab-submenu > li:first-child {
    margin-top: 0.5rem;
  }
  /* TOPBAR MENU COVER */
  #layout-topbar-menu-cover {
    position: absolute;
    padding: 0px;
    margin: 0px;
    background-color: #f7f7f5;
    width: 240px;
    right: 0;
    margin-top: 5.3rem;
    margin-right: 3px;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    float: none;
    -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
    display: none;
  }
  #layout-topbar-menu-cover.active {
    display: block;
  }
  #layout-topbar-menu-cover > li {
    display: block;
    float: none;
    position: static;
  }
  #layout-topbar-menu-cover > li > a {
    padding: 15px;
    display: block;
    float: none;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    color: rgba(52, 61, 66, 0.9);
    font-size: 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
    text-align: left;
  }
  #layout-topbar-menu-cover > li > a:hover,
  #layout-topbar-menu-cover > li > a.active {
    background-color: #ffffff;
  }
  #layout-topbar-menu-cover > li > a i {
    font-size: 14px;
    color: rgba(52, 61, 66, 0.9);
    margin-top: 0px;
  }
  #layout-topbar-menu-cover > li > a span {
    font-size: 14px;
    display: inline;
  }
  #layout-topbar-menu-cover > li > ul {
    position: static;
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    width: auto;
    right: 0;
    margin-top: 0px;
    height: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: none;
  }
  #layout-topbar-menu-cover > li > ul.active {
    display: block;
    background-color: #ffffff;
  }
  #layout-topbar-menu-cover > li > ul li a {
    padding: 15px;
    display: block;
    color: rgba(52, 61, 66, 0.9);
    font-size: 12px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.05);
  }
  #layout-topbar-menu-cover > li > ul li a:hover,
  #layout-topbar-menu-cover > li > ul li a.active {
    background-color: rgba(0, 0, 0, 0.05);
  }
  #topbar-menu-btn {
    display: block;
  }
  #layout-portlets-cover {
    margin-left: 0px;
    margin-top:20px;
  }
  .FixedMenu #layout-portlets-cover {
    padding-top: 1rem;
    margin-top:20px;
  }
}
/* -------------------------------------------------------------------*/
/* for landscape phones and tablets */
/* OTHERS */
#layout-portlets-cover:before,
#layout-portlets-cover:after,
.Card:before,
.Card:after {
  content: "";
  display: table;
  border-collapse: collapse;
}
#layout-portlets-cover:after,
.Card:after {
  clear: both;
}
/* body */
/* Layout Color Tones */
/* topbar */
.menu-resize-btn-image-active-rotation {
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
.slimmenu-resize-btn-image-active-rotation {
  -webkit-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -moz-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -o-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  -ms-transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
/* menu cover */
/* tab menu */
/* tab sub menus */
/* portlets cover */
/* Cards */
/* others */
/* misc */
/* shadow */
/* transitions */
.short-transition {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.medium-transition {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.long-transition {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}
.no-transition {
  -webkit-transition: none;
  -moz-transition: none;
  -ms-transition: none;
  -o-transition: none;
  transition: none;
}
.no-transform {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  -o-transform: none !important;
  -ms-transform: none !important;
  transform: none !important;
}

