<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
				"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<body>
	<!-- LAYOUT TOPBAR COVER -->
	<div id="layout-topbar-cover">
		<div id="layout-topbar-row">
			<div id="layout-topbar-left">
				<a id="mobile-menu-btn" class="topbar-link Animated03"><i class="fa fa-navicon"></i></a>
				<a href="dashboard-social.html" id="logo"><img id="logo" src="#{resource['venture/images/jamkrida.png']}" /></a>
			</div>
			<div id="layout-topbar-right">
				<a id="topbar-menu-btn" class="topbar-link Animated03 Fright"><i class="icon-dots-3"></i></a>
				<!-- LAYOUT TOPBAR MENU -->
				<ul id="layout-topbar-menu-cover">
				    <h:form>
                        <p:commandButton value="Log Out" icon="ui-icon-power" style="float: right;margin-right: 15px" actionListener="#{loginController.doLogout()}"/>
                    </h:form>
					<li>
					    <a id="" class="topbar-link Animated03 Fright"><i class="icon-gear"></i> <span>Settings</span></a>
						<ul class="">
							<li><a href="#" class="menulink TexAlCenter Fs14"> <i class="icon-user Blue Fs30 Wid100 Fnone DispBlock MarBot10"></i>Account Settings</a></li>
							<li><a href="#" class="menulink TexAlCenter Fs14"> <i class="icon-message Blue Fs30 Wid100 Fnone DispBlock MarBot10"></i>E-Mail Settings</a></li>
							<li><a href="#" class="menulink TexAlCenter Fs14"> <i class="icon-wifi Blue Fs30 Wid100 Fnone DispBlock MarBot10"></i>Connection Settings</a></li>
						</ul>
					</li>
					<li>
					    <a id="" class="topbar-link Animated03 Fright"><i class="icon-stopwatch"></i> <span>TODOs</span></a>
						<ul class="">
							<li>
							    <a href="#" class="menulink">
							        <i class="icon-bell60 Red"></i>
							        <span class="Fs10 DispBlock">Today</span>
									<span class="DispBlock Blue Fs14 FontPoppinsRegular">Poe Dameron</span>
									<span class="DispBlock FontPoppinsLight">Hi Luke, Cursus est primis euismod auctor sem nascetur..</span>
							    </a>
							</li>
							<li>
							    <a href="#" class="menulink">
							        <i class="icon-bell60 Blue"></i>
							        <span class="Fs10 DispBlock">Today</span>
									<span class="DispBlock Blue Fs14 FontPoppinsRegular">Kylo Ren</span>
									<span class="DispBlock FontPoppinsLight">Hi Luke, Cursus est primis euismod auctor sem nascetur est..</span>
							    </a>
							</li>
						</ul>
					</li>
					<li>
					    <a id="" class="topbar-link Animated03 Fright"><i class="icon-message"></i> <span>Messages</span></a>
						<ul class="">
							<li>
							    <a href="#" class="menulink">
							        <i class="icon-podcast3 Fs20 Green"></i>
							        <span class="Fs10 DispBlock">18.08.2016</span>
							        <span class="Fs10 DispBlock">At My Office</span>
							        <span class="DispBlock Red Fs14 FontPoppinsRegular">Office Orientations</span>
							    </a>
							</li>
							<li>
							    <a href="#" class="menulink">
							        <i class="icon-podcast3 Fs20 Green"></i>
							        <span class="Fs10 DispBlock">18.08.2016</span>
							        <span class="Fs10 DispBlock">At Meeting Room</span>
							        <span class="DispBlock Blue Fs14 FontPoppinsRegular">Meeting With Boss</span>
							    </a>
							</li>
						</ul>
					</li>
				</ul>
				<div id="search-bar">
					<input type="text" placeholder="Cari" /> <a id="search-btn" class="Animated03"><i class="fa fa-hand-o-right"></i></a>
				</div>
			</div>
		</div>
	</div>

	<!-- LAYOUT CONTAINER -->
	<div id="layout-container">
		<div id="layout-container-row">
			<!-- LAYOUT MENU COVER -->
			<div id="layout-menu-cover" class="">
				<div id="layout-menu-cover-scroll-content" class="">
					<form id="menuform" name="menuform" method="post" action="http://www.primefaces.org/venture/dashboard-social.xhtml" enctype="application/x-www-form-urlencoded">
						<input type="hidden" name="menuform" value="menuform" />
						<ul id="layout-menu" class="layout-tab-submenu active ">
						    <li id="menuform:pengaturan" role="menuitem">
                                <a href="#" class="menulink"> <span> PENGATURAN</span></a>
                                <ul role="menu">
                                    <li id="menuform:aktivitas" role="menuitem">
                                        <a class="menulink" href="dashboard-social.html"><i class="icon-lightbulb"></i><span>Aktifitas</span></a>
                                    </li>
                                    <li id="menuform:wilayah" role="menuitem">
                                        <a class="menulink" href="dashboard-pm.html"><i class="icon-lightbulb"></i><span>Wilayah</span></a>
                                    </li>
                                    <li id="menuform:jamkrida" role="menuitem">
                                        <a class="menulink" href="dashboard-pm-2.html"><i class="icon-lightbulb"></i><span>Jamkrida</span></a>
                                    </li>
                                    <li id="menuform:akses" role="menuitem">
                                        <a class="menulink" href="dashboard-pm-2.html"><i class="icon-lightbulb"></i><span>Akses</span></a>
                                    </li>
                                    <li id="menuform:pengguna" role="menuitem">
                                        <a class="menulink" href="dashboard-pm-2.html"><i class="icon-lightbulb"></i><span>Pengguna</span></a>
                                    </li>
                                    <li id="menuform:logError" role="menuitem">
                                        <a class="menulink" href="dashboard-pm-2.html"><i class="icon-lightbulb"></i><span>Log Error</span></a>
                                    </li>
                                    <li id="menuform:koneksi" role="menuitem">
                                        <a class="menulink" href="dashboard-pm-2.html"><i class="icon-lightbulb"></i><span>Koneksi</span></a>
                                    </li>
                                    <li id="menuform:path" role="menuitem">
                                        <a class="menulink" href="dashboard-pm-2.html"><i class="icon-lightbulb"></i><span>Path</span></a>
                                    </li>
                                </ul>
                            </li>
							<li id="menuform:masterPKPA" role="menuitem">
							    <a href="#"	class="menulink"> <span> MASTER PKPA</span></a>
								<ul role="menu">
									<li id="menuform:umum" role="menuitem">
									    <a class="menulink" href="promotion-page.html"><i class="icon-chevron-down"></i><span>Umum</span></a>
										<ul role="menu">
											<li id="menuform:jenisDebitur" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Jenis Debitur</span></a></li>
                                            <li id="menuform:sektorUsaha" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Sektor Usaha</span></a></li>
                                            <li id="menuform:jenisUsaha" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Jenis Usaha</span></a></li>
                                            <li id="menuform:mitra" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Mitra</span></a></li>
                                            <li id="menuform:produk" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Produk</span></a></li>
                                            <li id="menuform:produkMitra" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Produk Mitra Update</span></a></li>
                                        </ul>
									</li>
									<li id="menuform:sop" role="menuitem">
									    <a class="menulink" href="dashboard-social.html"><i class="icon-lightbulb"></i><span>Standar Operasional Prosedur</span></a>
									    <ul role="menu">
                                            <li id="menuform:kmk" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>KMK -</span></a></li>
                                            <li id="menuform:kmp" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>KMP +</span></a></li>
                                            <li id="menuform:kbg" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>KBG +</span></a></li>
                                            <li id="menuform:ktr" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>KTR +</span></a></li>
                                            <li id="menuform:mtg" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>MTG +</span></a></li>
                                            <li id="menuform:dag" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>DAG +</span></a></li>
                                            <li id="menuform:kur" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>KUR +</span></a></li>
                                            <li id="menuform:sbd" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>SBD -</span></a></li>
                                            <li id="menuform:ttd" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>TTD</span></a></li>
                                        </ul>
									</li>
									<li id="menuform:om_db_pm1" role="menuitem">
									    <a class="menulink" href="dashboard-pm.html"><i class="icon-lightbulb"></i><span>Akuntansi</span></a>
									    <ul role="menu">
                                            <li id="menuform:kmk" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Klasifikasi Akun</span></a></li>
                                            <li id="menuform:kmp" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Level Akun</span></a></li>
                                            <li id="menuform:kbg" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Klasifikasi Modal</span></a></li>
                                            <li id="menuform:ktr" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Akun</span></a></li>
                                            <li id="menuform:mtg" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Nomor Rekening</span></a></li>
                                            <li id="menuform:dag" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Ekuitas</span></a></li>
                                        </ul>
									</li>
									<li id="menuform:om_db_pm2" role="menuitem">
									    <a class="menulink" href="dashboard-pm-2.html"><i class="icon-lightbulb"></i><span>Debitur - Agen</span></a>
									    <ul role="menu">
                                            <li id="menuform:kmk" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Debitur</span></a></li>
                                            <li id="menuform:kmp" role="menuitem"><a class="menulink" href="#"><i class="icon-brush"></i><span>Agen</span></a></li>
                                        </ul>
									</li>
								</ul>
							</li>
							<li id="menuform:om_menuoptcolor" role="menuitem">
							    <a href="#" class="menulink"> <span> PENJAMINAN</span></a>
								<ul role="menu">
									<li id="menuform:tpbr_colors" role="menuitem">
									    <a href="#" class="menulink"><i class="icon-chevron-down"></i> <span>Administrasi</span></a>
										<ul role="menu">
											<li id="menuform:om_bg_yellow" role="menuitem">
											    <a class="menulink" href="#" onclick="Venture.changeBodyClass('YellowTopbar');return false;"><i class="icon-brush"></i><span>Surat Masuk</span></a>
											</li>
											<li id="menuform:om_bg_yellow" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('YellowTopbar');return false;"><i class="icon-brush"></i><span>Pengajuan</span></a>
                                            </li>
                                            <li id="menuform:om_bg_yellow" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('YellowTopbar');return false;"><i class="icon-brush"></i><span>Analisa</span></a>
                                            </li>
                                            <li id="menuform:om_bg_yellow" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('YellowTopbar');return false;"><i class="icon-brush"></i><span>Komite</span></a>
                                            </li>
                                            <li id="menuform:om_bg_yellow" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('YellowTopbar');return false;"><i class="icon-brush"></i><span>Terbitkan SP3</span></a>
                                            </li>
                                            <li id="menuform:om_bg_yellow" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('YellowTopbar');return false;"><i class="icon-brush"></i><span>Terbitkan SP</span></a>
                                            </li>
                                            <li id="menuform:om_bg_yellow" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('YellowTopbar');return false;"><i class="icon-brush"></i><span>Permintaan Revisi</span></a>
                                            </li>
                                            <li id="menuform:om_bg_yellow" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('YellowTopbar');return false;"><i class="icon-brush"></i><span>Kelengkapan Berkas</span></a>
                                            </li>
										</ul>
									</li>
									<li id="menuform:bg_colors" role="menuitem">
									    <a href="#" class="menulink"><i class="icon-chevron-down"></i> <span>Data</span></a>
										<ul role="menu">
											<li id="menuform:bg_palegreen" role="menuitem">
											    <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>IJP</span></a>
											</li>
											<li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Agunan</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Dokumen Penjaminan</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Sertifikat Penjaminan</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Penjaminan Ditolak</span></a>
                                            </li>
										</ul>
									</li>
								</ul>
							</li>
							<li id="menuform:om_theme" role="menuitem">
							    <a href="#"	class="menulink"> <span> KLAIM</span></a>
								<ul role="menu">
									<li id="menuform:bg_colors" role="menuitem">
                                        <a href="#" class="menulink"><i class="icon-chevron-down"></i> <span>Administrasi</span></a>
                                        <ul role="menu">
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Surat Masuk</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Pengajuan</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Analisa</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Komite</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Memo Bayar</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menuform:bg_colors" role="menuitem">
                                        <a href="#" class="menulink"><i class="icon-chevron-down"></i> <span>Data</span></a>
                                        <ul role="menu">
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Agunan</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Dokumen Klaim</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Klaim</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Subrogasi</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Klaim Ditolak</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="menuform:bg_colors" role="menuitem">
                                        <a href="#" class="menulink"><i class="icon-chevron-down"></i> <span>Pengendalian</span></a>
                                        <ul role="menu">
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Daftar Hitam</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Peringatan Klaim</span></a>
                                            </li>
                                            <li id="menuform:bg_palegreen" role="menuitem">
                                                <a class="menulink" href="#" onclick="Venture.changeBodyClass('JamkridaBG');return false;"><i class="icon-brush"></i><span>Riwayat Debitur</span></a>
                                            </li>
                                        </ul>
                                    </li>
								</ul>
							</li>
							<li id="menuform:om_default" role="menuitem">
							    <a href="#"	class="menulink"> <span> PENGENDALIAN</span></a>
								<ul role="menu">
									<li id="menuform:om_empty" role="menuitem">
									    <a class="menulink" href="empty-page.html"><i class="icon-copy"></i><span> Jatuh Tempo</span></a>
									</li>
									<li id="menuform:om_empty" role="menuitem">
                                        <a class="menulink" href="empty-page.html"><i class="icon-copy"></i><span> Belum Jatuh Tempo</span></a>
                                    </li>
                                    <li id="menuform:om_empty" role="menuitem">
                                        <a class="menulink" href="empty-page.html"><i class="icon-copy"></i><span> Outstanding Kredit</span></a>
                                    </li>
                                    <li id="menuform:om_empty" role="menuitem">
                                        <a class="menulink" href="empty-page.html"><i class="icon-copy"></i><span> Daftar Hitam</span></a>
                                    </li>
                                    <li id="menuform:om_empty" role="menuitem">
                                        <a class="menulink" href="empty-page.html"><i class="icon-copy"></i><span> Peringatan Klaim</span></a>
                                    </li>
                                    <li id="menuform:om_empty" role="menuitem">
                                        <a class="menulink" href="empty-page.html"><i class="icon-copy"></i><span> Riwayat Debitur</span></a>
                                    </li>
								</ul>
							</li>
							<li id="menuform:om_docs" role="menuitem">
							    <a href="#" class="menulink"> <span> AKUNTANSI</span></a>
								<ul role="menu">
									<li id="menuform:om_docs_core" role="menuitem">
									    <a href="#" class="menulink"><i class="icon-folder"></i> <span> Administrasi</span></a>
										<ul role="menu">
											<li id="menuform:om_docs_1" role="menuitem">
											    <a class="menulink" href="docs/core/installation.html"><i class="icon-tags"></i><span> Transaksi Baru</span></a>
											</li>
											<li id="menuform:om_docs_1" role="menuitem">
                                                <a class="menulink" href="docs/core/installation.html"><i class="icon-tags"></i><span> Tutup Buku</span></a>
                                            </li>
										</ul>
									</li>
									<li id="menuform:om_docs_layout" role="menuitem">
									    <a href="#" class="menulink"><i class="icon-folder"></i> <span>	Keuangan</span></a>
										<ul role="menu">
											<li id="menuform:om_docs_21" role="menuitem">
											    <a class="menulink" href="docs/layout/less.html"><i class="icon-tags"></i><span>Kas</span></a>
											</li>
											<li id="menuform:om_docs_21" role="menuitem">
                                                <a class="menulink" href="docs/layout/less.html"><i class="icon-tags"></i><span>Pembayaran Klaim</span></a>
                                            </li>
                                            <li id="menuform:om_docs_21" role="menuitem">
                                                <a class="menulink" href="docs/layout/less.html"><i class="icon-tags"></i><span>Kelebihan IJP</span></a>
                                            </li>
                                            <li id="menuform:om_docs_21" role="menuitem">
                                                <a class="menulink" href="docs/layout/less.html"><i class="icon-tags"></i><span>Jasa Produksi</span></a>
                                            </li>
                                            <li id="menuform:om_docs_21" role="menuitem">
                                                <a class="menulink" href="docs/layout/less.html"><i class="icon-tags"></i><span>Penggajian</span></a>
                                            </li>
                                            <li id="menuform:om_docs_21" role="menuitem">
                                                <a class="menulink" href="docs/layout/less.html"><i class="icon-tags"></i><span>Dokumen Keuangan</span></a>
                                            </li>
										</ul>
									</li>
									<li id="menuform:om_docs_layout" role="menuitem">
                                        <a href="#" class="menulink"><i class="icon-folder"></i> <span> Akuntansi</span></a>
                                        <ul role="menu">
                                            <li id="menuform:om_docs_21" role="menuitem">
                                                <a class="menulink" href="docs/layout/less.html"><i class="icon-tags"></i><span>IJP</span></a>
                                            </li>
                                            <li id="menuform:om_docs_21" role="menuitem">
                                                <a class="menulink" href="docs/layout/less.html"><i class="icon-tags"></i><span>Cash Basic</span></a>
                                            </li>
                                            <li id="menuform:om_docs_21" role="menuitem">
                                                <a class="menulink" href="docs/layout/less.html"><i class="icon-tags"></i><span>Accrual</span></a>
                                            </li>
                                        </ul>
                                    </li>
								</ul>
							</li>
						</ul>
						<script type="text/javascript">
							Venture.restoreMenuState();
						</script>
						<input type="hidden"
						    name="javax.faces.ViewState"
							id="j_id1:javax.faces.ViewState:0"
							value="5601919001355138242:-17835018757046040"
							autocomplete="off" />
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
