<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
	<h:head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	    <meta name="apple-mobile-web-app-capable" content="yes" />
	    <link rel="stylesheet" href="#{resource['venture/css/primefaces-venture:theme.css']}" type="text/css" />
	    <link rel="stylesheet" href="#{resource['venture/css/primefaces5.3:primefaces.css']}" type="text/css" />
	
	    <h:outputScript name="jquery/jquery.js" library="primefaces" />
	    <h:outputScript name="jquery/jquery-plugins.js" library="primefaces" />
	    <script src="#{resource['venture/jquery/primefaces5.3:primefaces.js']}" type="text/javascript"/>
	    <link rel="stylesheet" href="#{resource['venture/css/venture-layout:core-layout.css']}" type="text/css" />
	    <link rel="stylesheet" href="#{resource['venture/css/venture-layout:animate.css']}" type="text/css" />
	    <link rel="stylesheet" href="#{resource['venture/css/venture-layout:nanoscroller.css']}" type="text/css" />
	    <link rel="stylesheet" href="#{resource['venture/css/venture-layout:venture-font.css']}" type="text/css" />
	    <link rel="stylesheet" href="#{resource['venture/css/venture-layout:font-awesome.css']}" type="text/css" />
	    <link rel="stylesheet" href="#{resource['venture/css/venture-layout:venture-layout.css']}" type="text/css" />
	
		<link rel="stylesheet" href="#{resource['venture/css:styles.css']}" type="text/css"/>
		<script type="text/javascript">if(window.PrimeFaces){}</script>
		<title>
			<ui:insert name="title">#{messages['title']}</ui:insert>
		</title>
		<script src="#{resource['venture/js/nanoscroller.js']}" type="text/javascript"/>
		<script src="#{resource['venture/js/layout.js']}" type="text/javascript"/>
	</h:head>
	<h:body class="WhiteTopbar JamkridaBG FixedMenu">
		<div id="top" class="top">
			<ui:insert name="top">
				<ui:include src="/header.xhtml" />
			</ui:insert>
		</div>
		<div id="layout-portlets-cover">
			<ui:insert name="content"> Main Section</ui:insert>
		</div>
		<div id="bottom" class="bottom">
			<ui:insert name="bottom">
				<ui:include src="/footer.xhtml" />
			</ui:insert>
		</div>
	</h:body>
</html>
