<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:c="http://java.sun.com/jsp/jstl/core">
	<h:head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <link rel="stylesheet" href="#{resource['venture/css/primefaces-venture:theme.css']}" type="text/css" />
        <link rel="stylesheet" href="#{resource['venture/css/primefaces5.3:primefaces.css']}" type="text/css" />
    
        <h:outputScript name="jquery/jquery.js" library="primefaces" />
        <h:outputScript name="jquery/jquery-plugins.js" library="primefaces" />
        <script src="#{resource['venture/jquery/primefaces5.3:primefaces.js']}" type="text/javascript"/>
        <link rel="stylesheet" href="#{resource['venture/css/venture-layout:core-layout.css']}" type="text/css" />
        <link rel="stylesheet" href="#{resource['venture/css/venture-layout:animate.css']}" type="text/css" />
        <link rel="stylesheet" href="#{resource['venture/css/venture-layout:nanoscroller.css']}" type="text/css" />
        <link rel="stylesheet" href="#{resource['venture/css/venture-layout:venture-font.css']}" type="text/css" />
        <link rel="stylesheet" href="#{resource['venture/css/venture-layout:font-awesome.css']}" type="text/css" />
        <link rel="stylesheet" href="#{resource['venture/css/venture-layout:venture-layout.css']}" type="text/css" />
    
        <link rel="stylesheet" href="#{resource['venture/css:styles.css']}" type="text/css"/>
        <script type="text/javascript">if(window.PrimeFaces){}</script>
        <title>
            <ui:insert name="title">#{messages['title']}</ui:insert>
        </title>
        <script src="#{resource['venture/js/nanoscroller.js']}" type="text/javascript"/>
        <script src="#{resource['venture/js/layout.js']}" type="text/javascript"/>
    </h:head>
    <h:body class="WhiteTopbar JamkridaBG FixedMenu">
        <p:layout fullPage="true" >
	        <p:layoutUnit position="north" size="100">
	            <h:panelGrid columns="2" style="width: 100%">
                    <p:graphicImage id="logo" value="./resources/images/jamkrida.png" style="margin-top: 5px;margin-left: 10px"/>
                </h:panelGrid>
	        </p:layoutUnit>
	        <p:layoutUnit position="center">
	            <p:panel header="Login Form" style="width: 500px;height: 260px;position: fixed;top: 50%;margin-left: -250px;margin-top: -140px;left: 50%">
		            <h:form id="loginForm" prependId="false">
		                <h:panelGrid columns="2" style="margin-top: 30px;margin-left: 5px;margin-bottom: 15px">
		                    <p:graphicImage value="./resources/images/icon_login.png" height="128px" width="128px"/>
					        <h:panelGrid columns="3">
					            <h:outputLabel for="username"
					                value="#{messages['login.username']}"
					                style="font-weight: bold;font-size: 11px !important;font-family: Verdana"
					                escape="false" />
					            <h:outputLabel value=":"
					                style="font-weight: bold;font-size: 12px !important" escape="false" />
					            <p:inputText id="username"
					                value="#{loginController.username}"
					                requiredMessage="#{messages['login.username.required']}"
					                required="true"
					                style="font-size: 11px !important;width: 170px">
					            </p:inputText>
					
					            <h:outputLabel for="password"
					                value="#{messages['login.password']}"
					                style="font-weight: bold; font-size: 11px !important;font-family: Verdana"
					                escape="false" />
					            <h:outputLabel value=":"
					                style="font-weight: bold;font-size: 11px !important" escape="false" />
					            <p:password id="password"
					                value="#{loginController.password}"
					                requiredMessage="#{messages['login.password.required']}"
					                required="true"
					                style="font-size: 11px !important;width: 170px">
					            </p:password>
					
					            <f:facet name="footer">
					                <p:commandButton
					                    icon="ui-icon-locked"
					                    value="#{messages['login']}"
					                    type="submit"
					                    action="#{loginController.doLogin}"
					                    ajax="false"
					                    style="font-size: 12px !important;margin-top: 10px" />
					            </f:facet>
					            
					            <p:watermark for="username" value=" Input your username"/>
			                    <p:watermark for="password" value=" Input your password" />
					        </h:panelGrid>
				        </h:panelGrid>
				    </h:form>
			    </p:panel>
	        </p:layoutUnit>
	        <p:layoutUnit position="south" size="65" closable="true" collapsible="true">
	            <div align="center" style="margin-top: 5px">
	                <p style="font-size: 10px">Copyright &#169; 2016 by Duta Media Cakrawala</p>
	            </div>
	        </p:layoutUnit>
        </p:layout>
    </h:body>
</html>
